.tag-input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    cursor: text;

    input,
    .twitter-typeahead {
        border: none;
        flex-grow: 1;
    }

    > .tag {
        flex-shrink: 0;
        cursor: pointer;

        > .delete-tag {
            padding-left: 0.25rem;
        }
    }
}

/* Optional default styling */

.tag-input.styled {
    border: 1px solid grey;
    border-radius: 0.5rem;

    padding: 0 0.5rem;

    > .tag {
        background-color: lightgrey;
        border: 1px solid grey;
        border-radius: 0.25rem;
    }
}